* {
    box-sizing: border-box;
}

.item {
    background: #777;
    color: yellow;
    border: 1px solid #333;
}

.container {
    display: grid;
    /* height: 500px; */
    /* grid-auto-flow: column; */
    /* grid-template: 50px 100px / 100px 50px 75px; */
    /* grid-template: 50px 100px / 1fr 1fr 1fr 1fr; */
    /* grid-template: 50px 100px / repeat(4, 1fr); */
    /* grid-template: 50px 100px / 50px repeat(2, 1fr) 50px; */
    /* grid-template: minmax(50px, auto) 100px / 50px repeat(2, 1fr) 50px; */
    /* grid-template: minmax(50px, auto) 100px / repeat(3, 100px); */
    /* grid-auto-rows: 100px; */
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: minmax(50px, auto) 100px;
    /* grid-template-areas: "header header header""sidebar content ."; */
    /* grid-template-areas: "header header header""sidebar content"; */
    gap: 15px;
    /* justify-content: center; */
    justify-content: start;
    align-content: center;
    justify-items: center;
}

.item1 {
    /* grid-area: content; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-row: 1/3; */
    /* grid-row: span 2; */
    align-self: center;
}

.item2 {
    /* grid-area: header; */
}

.item6 {
    /* grid-area: sidebar; */
}